---
layout: fw
---
<div class="header mt-5">
    <h1 class="page-heading">{{ page.title }}</h1>
</div>
<ul class="list-group list-group-flush card rounded">
    {% for post in paginator.posts %}
         <li class="list-group-item d-flex align-items-center">
            <h6 class="heading p-2">
                 <a href="{{ organisme.url }}">
                    {{ post.title }}
                </a>
            </h6>
        </li>
    {% endfor %}
</ul>
{% if paginator.total_pages > 1 %}
    <div class="d-flex justify-content-end mt-1 mb-4">
        <nav aria-label="Page navigation example">
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item flex-fill bg-light">
                    <a class="page-link" href="{{ paginator.first_page_path }}">
                        <i class="fa-solid fa-angles-left"></i>
                    </a>
                </li>
                {% if paginator.previous_page %}
                
                    <li class="list-group-item flex-fill">
                        <a class="page-link" href="{{ paginator.previous_page_path }}">
                            <i class="fa-solid fa-chevron-left"></i>
                        </a>
                    </li>
                {%  endif %}
                {% if paginator.next_page %}
                    <li class="list-group-item flex-fill">
                        <a class="page-link" href="{{ paginator.next_page_path | relative_url }}">
                            <i class="fa-solid fa-chevron-right"></i>
                          </a>
                    </li>
                    <li class="list-group-item flex-fill bg-light">
                        <a class="page-link" href="{{ paginator.last_page_path }}">
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    </div>
{% endif %}
