
    <div class="container">
        <div class="row">
            {% if include.articles %}
                {% assign items= include.articles | sort: 'date' | reverse | slice: 0,3 %}
                {% include header-title.html hclass='mt-4 mb-4' title='Articles' class='display' icon='fa-solid fa-graduation-cap' %}
                    <div class="row">
                        {% for post in items %}
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="card h-100">
                                    {%  if post.image %}
                                        <img src="{{ post.image }}" class="card-img-top img-fluid">
                                    {%  endif %}
                                    <div class="card-body">
                                        <h5 class="heading">{{ post.title }}</h5>
                                    </div>
                                    <div class="d-flex w-100 justify-content-end mb-2">
                                        {% include button.html url= post.url icon='fa-solid fa-arrow-right' class='btn-light me-2' %}
                                    </div>
                                </div> 
                            </div>
                        {% endfor %}
                        <div class="d-flex flex-row-reverse me-0">
                            <div class="p-2 me-0">
                                {% include button.html text='Tous les articles' icon='fa-solid fa-arrow-right' url='/articles/' class='btn-dark text-white' %}
                            </div>
                        </div>
                    </div>
            {% endif %}
            <div class="col-12 col-sm-6">
                <div class="row">
                    {% if include.ressources %}
                    {% assign items=include.ressources %}
                        <div class="container">
                            <h2 class="display">Ressources&nbsp;<i class="fa-solid fa-cogs"></i></h2>
                        </div>
                            <div class="list-group mt-2">
                                {% for post in items %}
                                    <div class="list-group-item">
                                        <div class="d-flex w-100 justify-content-between bg-info-subtle rounded mb-2">
                                            <h5 class="mb-1 p-2 text-info">{{ post.title }}</h5>
                                        </div>
                                        <p> {{ post.description}}</p>
                                        <div class="d-flex w-100 justify-content-end">
                                            {% include button.html class='btn-light' url=post.url icon='fa-solid fa-arrow-right' %}
                                        </div>
                                    </div> 
                                {% endfor %}
                            </div>
                </div>
                    {% endif %}
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container mt-4">
    {% if include.stories %}
    {% assign items=include.stories | sort: 'date' | reverse | slice: 0,3 %}
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="container">
                <h2 class="display">Récits&nbsp;<i class="fa-solid fa-feather-pointed"></i></h2>
            </div>
            <div class="card">
                <ul class=" list-group list-group-flush ms-0">
                    {% for post in items %}
                        <li class="list-group-item">
                            
                            <div class="float-start">{{ post.title }}&nbsp;</div>
                            <a class="btn btn-light float-end" href="{{ post.url | relative_url }}">
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </li>
                {% endfor %}
                </ul>
            </div>
            <div class="d-flex flex-row-reverse mb-4">
                <div class="p-2">
                    <a class="btn btn-dark text-white" href="/histoires/">
                        Tous les récits&nbsp;
                            <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
                <div class="p-2">
                    <a class="btn btn-outline-dark text-dark" href="#">
                        Partager ton expérience &nbsp;
                            <i class="fa-solid fa-share-nodes"></i>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
        {% if include.replays %}
        {% assign items=include.replays | sort: 'date' | reverse | slice: 0,3 %}
        <div class="col-12 col-sm-6">
            <div class="container">
                <h2 class="display">Podcasts&nbsp;<i class="fa-solid fa-podcast"></i></h2>
            </div>
            <div class="card">
                <ul class=" list-group list-group-flush ms-0">
                    {% for post in items %}
                        <li class="list-group-item">
                            <div class="float-start">
                                {{ post.title }}&nbsp; 
                            </div>
                            <div class="float-end">
                                <a class="btn btn-light" href="{{post.url relative_url }}">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="d-flex flex-row-reverse mb-4">
               
                <div class="p-2">
                    <a class="btn btn-dark text-white" href="/podcasts/">
                        Tous les récits&nbsp;
                            <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
                <div class="p-2">
                    <a class="btn btn-outline-dark text-dark" href="#">
                        Partager ton expérience &nbsp;
                            <i class="fa-solid fa-share-nodes"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

</div>