<header class="site-header z-3 container-fluid">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.minima.nav_pages | default: default_paths -%}
    {%- assign page_titles = site.pages | map: 'title' | compact %}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <img src="{{ "/assets/images/logo/ijw-banner-transparent.webp" | relative_url }}" alt="Logo de mon site" style="max-height: 50px;">
    </a>
    &nbsp;{{ site.title | escape }}
   
    {%- unless page_titles == empty %}
      <nav class="site-nav ">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="fa-solid fa-bars"></span>
        </label>

        <div class="drawer-container">
          <div class="drawer">
            {%- include primary-nav.html paths = page_paths %}
          </div>
        </div>
        <div class="slab d-flex">
          <div class="item justify-content-between">
            {%- include primary-nav.html paths = page_paths %}
          </div>
        </div>
      </nav>
    {%- endunless %}
  </div>
</header>
