<nav class="site-nav ">
    <div class="nav-container">
      <button class="menu-button">&#9776;</button>  
      <nav class="nav-drawer">
            <ul class="list-group mt-4">
            <li>
                <a class="list-group-item list-group-item-action mb-2 border-O rounded-start border-2 border-end-0 border-warning" href="{{ "/" | relative_url }}">
                    <i class="fa-solid fa-home"></i>
                </a>
            </li>
            {% for item in site.data.primary_nav %}
                <li>
                    <a class="list-group-item list-group-item-action rounded-start border-primary border-2 border-end-0 p-end-2 mb-2 border-O" href="{{ item.url | relative_url }}">
                            {{ item.title }}
                    </a>
                </li>
            {% endfor %}
            {% if site.show_posts %}
                <li><a href="{{ "/posts/" | relative_url }}">Posts</a></li>
            {% endif %}
            </ul>
      </nav>
    </div>
  </nav>