<script src="{{ '/assets/js/menu-button.js'| relative_url }}"></script>
<script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/masonry.pkgd.min.js' | relative_url }}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elem = document.querySelector('.row');
    if (elem) {
      var msnry = new Masonry(elem, {
        itemSelector: '.masonry-item',
        columnWidth: '.masonry-item', // ou une valeur fixe
        percentPosition: true
      });
    }
  });
</script>
