---
layout: masonry-fw
title: Organismes
permalink: /organismes/
---
<h1 class="page-heading">{{page.title}}</h1>
{% if paginator.total_pages > 1 %}
  <p class="mb-2">Page {{ paginator.page }} sur {{ paginator.total_pages }}</p>
{% endif %}
<div class="row align-items-start masonry-row">
    {% for organisme in site.organismes %}
        <div class="col-12 col-sm-6 mb-2 masonry-item">
            <a href="{{ organisme.url }}">
                 <div class="card h-100">
                        {% if organisme.image %}
                            <img src="{{organisme.image}}" class="card-img-top img-fluid p-2">
                        {% else %}
                            <h1 class="display p-2">{{ organisme.title }}</h1>
                        {% endif %}
                 </div>
            </a>
        </div>
    {% endfor %}
</div>
{% if paginator.total_pages > 1 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
        <li class="page-item disabled">
            {% if paginator.previous_page %}
                <a  class="page-link" href="{{ paginator.previous_page_path | relative_url }}" class="previous">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
            {% endif %}  
        </li>
        {% for page in (1..paginator.total_pages) %}
            <li class="page-item">
                {% if page == paginator.page %}
                <span class="current">{{ page }}</span>
            {% elsif page == 1 %}
                <a  class="page-link" href="{{ '/blog/' | relative_url }}">{{ page }}</a>
            {% else %}
                <a class="page-link" href="{{ '/blog/page' | append: page | append: '/' | relative_url }}">{{ page }}</a>
            {% endif %}
            </li>
            
        {% endfor %} 
        <li class="page-item">
            {% if paginator.next_page %}
                <a class="page-link" href="{{ paginator.next_page_path | relative_url }}" class="next">
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            {% endif %}
        </li>
        </ul>
  </nav>
{% endif %}
