---
layout: masonry
title: Blog
permalink: /blog/
pagination:
  enabled: true
  collection: posts
---
<h1 class="page-heading">{{page.title}}</h1>
<div class="row align-items-start masonry-row">
    {% for post in paginator.posts %}
        <div class="col-12 col-sm-6 mb-2 masonry-item">
            <div class="card h-100">
                <div class="bg-info-subtle">
                    <img src="{{post.image}}" class="card-img-top img-fluid">
                </div>
                <div class="card-header border-0 bg-light mt-0 mb-2">
                    <h5 class="heading">{{ post.title }}</h5>
                    <p><small>Publié le &nbsp;{{ post.date | date: "%d/%m/%Y" }}</small></p>
                </div>
                <div class="d-flex justify-content-end mb-2 p-2">
                    <a class="btn btn-outline-secondary btn-sm" href="{{ post.url }}">Lire la suite</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% if paginator.total_pages > 1 %}
    <nav aria-label="Page navigation example">
        <ul class="list-group list-group-horizontal">
            {% if paginator.previous_page %}
                <li class="list-group-item">
                    <a class="page-link" href="{{ paginator.previous_page_path }}">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                </li>
            {%  endif %}
           
                {% for page in (1..paginator.total_pages) %}
                    <li class="list-group-item">
                        {% if page == paginator.page %}
                        <span class="current disabled">{{ page }}</span>
                        {% elsif page == 1 %}
                            <a  class="page-link" href="{{ '/blog/' | relative_url }}">{{ page }}</a>
                        {% else %}
                            <a class="page-link" href="{{ '/blog/page/' | append: page | append: '/' | relative_url }}">{{ page }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            
            {% if paginator.next_page %}
                <li class="list-group-item">
                    <a class="page-link" href="{{ paginator.next_page_path | relative_url }}">
                        <i class="fa-solid fa-arrow-right"></i>
                      </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}