---
layout: fw
---
<div class="container mb-2 mt-2">
  <div class="jumbotron jumbotron-fluid p-2">
    <div class="row align-items-center">
      <div class="col-12 col-sm-6 col-md-4">
        <img class="img-fluid" src="/assets/images/logos/bob.png" >
      </div>
      <div class="col-12 col-md-8">
          <h1 class="display-4">Voyager. 
          <span class="bg-black text-white p-1 rounded">Découvrir.</span> Partager.</h1>
          <div class="d-flex flex-row-reverse">
            <div class="p-2">
              <a href="/a-propos" class="btn btn-outline-secondary">En savoir plus&nbsp;<i class="fa-solid fa-arrow-right-to-bracket"></i></a>
            </div>
            <div class="p-2">
              <a href="https://wa.me/0032473953806" class="btn btn-success whatsapp-button text-white" target="_blank" rel="noopener noreferrer"> Nous contacter via <i class="fa-brands fa-whatsapp"></i>
              </a>
            </div>
          </div>
      </div>
    </div>
</div>